{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Fragrances</h1>
<div class="row">
{% for fragrance in fragrances %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ fragrance.name }}</h5>
                <p class="card-text">{{ fragrance.rating }}</p>
                <a href="{% url 'fragrance_detail' fragrance.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}